//
   Created by lenovo-pc on 2017/2/25.


.commentContainer 评论
    if comments
        each item in comments
            .commentList.clear
                .picBox
                    img(src='/img/0.jpg')
                .commentBox
                    p.firstLine
                        a.personName #{item.from.name}
                        a.zan
                    p.secondLine #{item.content}
                    p.thirdLine.clearfix
                        span= moment(item.created).format("YYYY-MM-DD HH:mm:ss")
                        span
                            a.reply 回复
                    form.replayForm(method='POST',action='/user/doComment',style='display:block;')
                        input(type='hidden',name='comment[cid]',value='#{item._id}')
                        input(type='hidden',name='comment[tid]',value='#{item.from._id}')
                        input(type='hidden',name='comment[resource]',value='#{resource._id}')
                        if user
                            input(type='hidden',name='comment[from]',value='#{user._id}')
                        .form-group
                            textarea.form-control(name='comment[content]',row='3')
                        button.btn.btn-primary(type='submit') 提交
                    if item.reply &&item.reply.length>0
                        each reply in item.reply
                            .media
                                .picBox
                                    img(src='/img/0.jpg')
                                .commentBox
                                    p.firstLine
                                        | #{reply.from.name}
                                        span.text-info &nbsp;回复&nbsp;
                                        | #{reply.to.name}
                                    p.secondLine #{reply.content}
                                    p.thirdLine.clearfix
                                        span= moment(reply.created).format("YYYY-MM-DD HH:mm:ss")
                                        span
                                            a.reply 回复
                                    form.replayForm(method='POST',action='/user/doComment',style='display:block;')
                                        input(type='hidden',name='comment[cid]',value='#{item._id}')
                                        input(type='hidden',name='comment[tid]',value='#{reply.from._id}')
                                        input(type='hidden',name='comment[resource]',value='#{resource._id}')
                                        if user
                                            input(type='hidden',name='comment[from]',value='#{user._id}')
                                        .form-group
                                            textarea.form-control(name='comment[content]',row='3')
                                        button.btn.btn-primary(type='submit') 提交






