//
   Created by lenovo-pc on 2017/2/25.
if resources
    each item in resources
        .sumCourseContainer.clear
            input(type='hidden',name='resource[id]',value=item._id)
            if user
                input(type='hidden',name='user[id]',value=user._id)
            .courseLeft
                .courseFirst
                    a.courseName(href='/resource/'+item._id) #{item.title}
                    a#zan
                        span #{item.likeNum}
                    a#comment(href='/resource/'+item._id)
                        span #{item.commentNum}
                    a#collect
                        span #{item.collectNum}
                .courseSecond
                    .courseDetail.clear
                        span 内容类型
                        if item.type == 1
                            p 视频
                        if item.type == 2
                            p 文档
                        if item.type == 3
                            p 在线测试
                    .courseDetail.clear
                        span 课程分类
                        p #{item.subjection}
                    .courseDetail.clear
                        span 课程简介
                        p #{item.summary}
            .courseRight
                img(src='/img/0.jpg')
