//
   Created by lenovo-pc on 2017/3/3.

extends ../layout

block append style
    link(rel='stylesheet',href='/stylesheets/head.css')
    link(rel='stylesheet',href='/stylesheets/backstage.css')
block content
    include ../includes/header
    div.bodyContainer
        ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
                a#addNew-tab(href='#addNew',aria-control='addNew',role='tab',data-toggle='tab') 添加
            li(role='presentation')
                a#delUpdate-tab(href='#delUpdate',aria-control='delUpate',role='tab',data-toggle='tab') 更改和删除
        .tab-content
            #addNew.tab-pane.active.fade.in(role='tabpanel')
                .container
                    .row
                        form#resForm.form-horizontal(method="post",action="/admin/course/new")
                            //-隐藏的表单域存储course._id方便更新电影数据,post时如果电影的id是有的，那么说明是更新数据，如果没有说明只是录入新数据
                            //input(type="hidden",name="course[_id]")
                            .form-group
                                label.col-sm-2.control-label(for="inputTitle") 课程名字
                                .col-sm-10
                                    input#inputTitle.form-control(type="text",name="course[title]")
                            .form-group
                                label.col-sm-2.control-label(for="inputType") 内容类型
                                .col-sm-3
                                    input#inputType(type="radio",name="course[type]",value="1")
                                    span 视频
                                    input#inputType(type="radio",name="course[type]",value="2")
                                    span 文档
                                    input#inputType(type="radio",name="course[type]",value="3")
                                    span 在线测试
                            .form-group
                                label.col-sm-2.control-label(for="inputSubjection") 课程分类
                                .col-sm-10
                                    input#inputSubjection.form-control(type="hidden",name="course[subjection]")
                                    .btn-group(data-btn='1')
                                        button.btn.btn-default(type='button',data-toggle='dropdown')
                                            | 请选择
                                            span.caret
                                        ul.dropdown-menu
                                            li
                                                a(data-index='0',data-value='') 1
                                            li
                                                a(data-index='1',data-value='') 1
                                            li
                                                a(data-index='2',data-value='') 1
                                            li
                                                a(data-index='3',data-value='') 1
                                            li
                                                a(data-index='4',data-value='') 1
                                            li
                                                a(data-index='5',data-value='') 1
                                    .btn-group(data-btn='2')
                                        button.btn.btn-default(type='button',data-toggle='dropdown')
                                            | 请选择
                                            span.caret
                                        ul.dropdown-menu
                                    .btn-group(data-btn='3')
                                        button.btn.btn-default(type='button',data-toggle='dropdown')
                                            | 请选择
                                            span.caret
                                        ul.dropdown-menu
                            .form-group
                                label.col-sm-2.control-label(for="inputSummary") 课程简介
                                .col-sm-10
                                    textarea#inputSummary.form-control(type="text",name="course[summary]",rows="5")
                            .form-group.resGroup#group1
                                label.col-sm-2.control-label(for="inputFlash") 片源地址
                                .col-sm-10
                                    input#inputFlash.form-control(type="text",name="course[flash]")
                            .form-group.resGroup#group2
                                label.col-sm-2.control-label(for="inputDoc") 文档地址
                                .col-sm-10
                                    input#inputDoc.form-control(type="text",name="course[doc]")
                            .form-group.resGroup#group3
                                label.col-sm-2.control-label 在线测试题目
                                .col-sm-10
                                    a#testAdd.btn +
                                    span.testAdd 添加
                                    input(type="hidden",name="course[test]")
                            .form-group
                                .col-sm-2
                                .col-sm-10#testLand
                            .form-group
                                .col-sm-offset-2.col-sm-10
                                button#reBtn.btn.btn-default(type="submit") 录入
            #delUpdate.tab-pane.fade(role='tabpanel')

                table.table
                    caption 所有资源
                    thead
                        tr
                            th 资源类型
                            th 名称
                            th 内容简介
                            th 操作
                    tbody
                    - var resources=[{'_id':'1','type':'1','title':'学会栈','subjection':'栈','flash':'http://1111','summary':'简介简介简介简介简介简介简介简介简介'},{'summary':'简介简介简介简介简介简介简介简介简介','_id':'2','type':'3','title':'学会栈','subjection':'栈','testList':'[{"question":"duiduiduidui","A":"A","B":"B","C":"C","D":"D","answer":"D","why":"shishishishishsi"},{"question":"bububububu","A":"D","B":"C","C":"B","D":"A","answer":"B","why":"yesyesyesyes"},{"question":"yeanyeanyean","A":"B","B":"D","C":"A","D":"C","answer":"C","why":"hihihihi"}]'},{'summary':'简介简介简介简介简介简介简介简介简介','_id':'3','type':'3','title':'学会栈','subjection':'栈','testList':'[{"question":"duiduiduidui","A":"A","B":"B","C":"C","D":"D","answer":"D","why":"shishishishishsi"},{"question":"yeanyeanyean","A":"B","B":"D","C":"A","D":"C","answer":"C","why":"hihihihi"}]'}]
                    - var n=0
                        if resources
                            each resour in resources
                                each item in resour
                                    if item.active
                                        tr.tableTr.act(data-trId=n++)
                                            td(scope='row')
                                                if item.type == 1
                                                    | 视频
                                                if item.type == 2
                                                    | 文档
                                                if item.type == 3
                                                    | 在线测试
                                    else
                                        tr.tableTr(data-trId=n++)
                                            td(scope='row')
                                                if item.type==1
                                                    | 视频
                                                if item.type == 2
                                                    | 文档
                                                if item.type == 3
                                                    | 在线测试
                                    td=item.title
                                    td=item.summary
                                    td
                                        button.update.btn.btn-group.btn-warning(data-toggle='modal',data-target='#updateSubmit') 更改
                                        button.delete.btn.btn-group.btn-danger(data-toggle='modal',data-target='#delSubmit') 删除
                                        input(type='hidden',name='res[summary]',value=item.summary)
                                        input(type='hidden',name='res[title]',value=item.title)
                                        input(type='hidden',name='res[type]',value=item.type)
                                        input(type='hidden',name='res[_id]',value=item._id)
                                        input(type='hidden',name='res[subjection]',value=item.subjection)
                                        if item.type == 1
                                            input(type='hidden',name='res[flash]',value=item.flash)
                                        if item.type == 2
                                            input(type='hidden',name='res[doc]',value=item.doc)
                                        if item.type == 3
                                            input(type='hidden',name='res[testList]',value=item.testList)
    #bgblack
    #testSubmit.form-horizontal
        form#testForm
            .form-group
                label.col-sm-3.control-label() 题目(必填)
                .col-sm-9
                    textarea.form-control(type='text',name="test[question]",rows='4')
            .form-group
                label.col-sm-3.control-label() A
                .col-sm-9
                    input.form-control(type='text',name='choose[A]')
            .form-group
                label.col-sm-3.control-label() B
                .col-sm-9
                    input.form-control(type='text',name='choose[B]')
            .form-group
                label.col-sm-3.control-label() C
                .col-sm-9
                    input.form-control(type='text',name='choose[C]')
            .form-group
                label.col-sm-3.control-label() D
                .col-sm-9
                    input.form-control(type='text',name='choose[D]')
            .form-group
                label.col-sm-3.control-label() 答案
                .col-sm-9
                    input(type="radio",name="test[answer]",value="A")
                    span A
                    input(type="radio",name="test[answer]",value="B")
                    span B
                    input(type="radio",name="test[answer]",value="C")
                    span C
                    input(type="radio",name="test[answer]",value="D")
                    span D
            .form-group
                label.col-sm-3.control-label() 详解(必填)
                .col-sm-9
                    textarea.form-control(type='text',name="test[why]",row='2')
        .form-group
            button#testBtn.btn.btn-info 确定
            button#testModify.btn.btn-warning 修改
            button#testDel.btn.btn-danger 删除
    #updateSubmit.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title 更改资源
                .modal-body.form-horizontal
                .modal-footer
                    button#updateSure.btn.btn-primary(type="submit") 确定
                    button#updateCancel.btn.btn-danger(type="button",data-dismiss="modal") 取消

    #delSubmit.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title 删除资源
                .modal-body.form-horizontal
                .modal-footer
                    button#delSure.btn.btn-primary(type="submit") 确定
                    button#delCancel.btn.btn-danger(type="button",data-dismiss="modal") 取消
block append script
    script(src='/js/backstage.js')
